.message {
    padding: 10px;
    border-radius: 3px;
    background-color: #007553;
    color: white;
}

.message-wrapper {
    height: calc(100vh - 150px);
}

.usermessage {
    background: #E3E5E6;
    color: black;
}

.usermessagebox {
    text-align: right;
}

.messagebox {
    flex-grow: 1;
}
