.message {
    padding: 10px;
    border-radius: 3px;
    background-color: #007553;
    color: white;
}

.message-wrapper {
    height: calc(100vh - 150px);
}

.messagebox {
    flex-grow: 1;
}
